# gitignore template for Drupal 8 projects
#
# earlier versions of Drupal are tracked in `community/PHP/`
#
# follows official upstream conventions:
# https://www.drupal.org/docs/develop/using-composer

# Ignore configuration files that may contain sensitive information
/web/sites/*/*settings*.php
/web/sites/*/*services*.yml

# Ignore paths that may contain user-generated content
/web/sites/*/files
/web/sites/*/public
/web/sites/*/private
/web/sites/*/files-public
/web/sites/*/files-private
/web/sites/default/services.yml
/private

# Ignore paths that may contain temporary files
/web/sites/*/translations
/web/sites/*/tmp
/web/sites/*/cache

# Ignore drupal core (if not versioning drupal sources)
/drush/contrib/
/web/vendor
/web/core
/web/modules/README.txt
/web/profiles/README.txt
/web/sites/development.services.yml
/web/sites/example.settings.local.php
/web/sites/example.sites.php
/web/sites/README.txt
/web/themes/README.txt
/web/.csslintrc
/web/.editorconfig
/web/.eslintignore
/web/.eslintrc.json
/web/.gitattributes
/web/.htaccess
/web/.ht.router.php
/web/autoload.php
/web/composer.json
/web/composer.lock
/web/example.gitignore
/web/index.php
/web/INSTALL.txt
/web/LICENSE.txt
/web/README.txt
/web/robots.txt
/web/update.php
/web/web.config

# Ignore contrib modules
/web/modules/contrib
/web/modules/examples

# Ignore contrib themes
/web/themes/contrib

# Ignore vendor dependencies and scripts
/vendor
/composer.phar
/composer
/robo.phar
/robo
/drush.phar
/drush
/drupal.phar
/drupal
/web/libraries/flexslider
/web/libraries/slick
/web/libraries/jquery-ui-touch-punch
*node_modules/

# Compiled Java class files
*.class

# Compiled Python bytecode
*.py[cod]

# Compile css
web/themes/custom/tu_entrada_theme/css/*

# Log files
*.log

# Package files
*.jar

# Maven
target/
dist/

# JetBrains IDE
.idea/
web/.phpstorm.meta.php

# Visual Studio Code IDE
.vscode/

# Unit test reports
TEST*.xml

# Generated by MacOS
.DS_Store

# Generated by Windows
Thumbs.db
*:Zone.Identifier

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv

*.sql

# Deployment
docker/mysql/*.sql
docker/mysql/initdb/*.sql
docker/mysql/.bash_history

# Ignore from DDEV
.ddev/commands/web/targets/*

# Configurations to ignore
config/sync/adsense.settings.*
config/sync/system.site.*
config/sync/stx_connector.stx_sale_channel.*
config/sync/jsl_cleverads.settings.*
config/sync/smtp.settings.*
config/sync/google_tag.*